

/* to update the root as needed  */
:root{
    --bs-primary: #ba1899     ;
    --bs-primary-rgb:186,24,153;
    --bs-secondary:rgb(8, 194, 188);
    --bs-secondary-rgb:8,194,188;
}

.btn-primary{
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
}

/*  CYRAMEART PORTFOLIO*/

.wrapper{
    max-width: 100em;
    margin: auto;
}

.fullbackground{
    
    background:  rgb(156, 116, 23)  url(../images/camera-code-s.jpg) no-repeat center center;
    background-size: cover;
    
    



}

.navbar-brand img{
    width: 35%;
}
/* var(--bs-light) */

h1 span{
    color:var(--bs-secondary);
}
.image-fluid{
   
    width: 85%;
    max-height: 300px;
}
                /*xxxxx FOOTER  xxxxxxx */
footer{
    margin: 0;
}
footer #logo-b{
    
    height: 100px;
    width: auto;
   
 }

 /*xxxxx Social media icons in footer  xxxxxxx */
 i{
    color: var(--bs-secondary);
 }
 .sm-icons{
    flex-direction: row;
    font-size: 1.4em;
    justify-content: center;
    
    
 }
 .sm-icons .nav-link{
    padding-right: 2em;
    margin: 1px ;
    
    padding: 0 10px;
  
 }
 .navbar-nav{
   justify-content: center;
 
   
 }

